#gameLog {
    width: 700px;
    height: 300px;
    overflow-y: scroll;
    clear:both;
    float:left;
}

#playerStats, #gameBody {
    float: left;
}

#playerStats {
    margin-left: 20px;
}

#gameCompletionStatus {
    margin-top: 1em;
    font-size: 2em;
    color: #f00;
}

#header {
    text-align: center;
    margin-bottom: 1em;
}

h4 {
    margin:0;
}
